Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

What is 7 to the power of 4?

In [1]:
7**4

2401

Split this string:

s = "Hi there Sam!"

into a list.

In [2]:
s = "Hi threre Sam!"
s.split()

['Hi', 'threre', 'Sam!']

Given the variables:

planet = "Earth"

diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

Given this nested list, use indexing to grab the word "hello"

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d.get("k1")[3].get("tricky")[3].get("target")[3]

'hello'

What is the main difference between a tuple and a list?

In [8]:
# Tuple is immutable

Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [9]:
def domainGet(email):
    return email.split('@')[-1]
domainGet('user@domain.com')

'domain.com'

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [10]:
def findDog(st):
    return 'dog' in st.lower().split()
findDog('Is there a dog here?')

True

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [11]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
countDog('This dog runs faster than the other dog dude!')

2

Problem

You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [12]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(81,False)

'Big Ticket'

In [13]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [14]:
employee = [1000, 2000, 3000, 4000, 5000]
total = 0
for x in employee:
    total += x
print(total)

15000

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [15]:
employee = {
    "Empid": 1,
    "Empname": "John",
    "Basicpay": 1000
}

department = {
    "DeptName": "IT",
    "DeptId": 1
}

employee.update(department)
print(employee)

{'Empid': 1, 'Empname': 'John', 'Basicpay': 1000, 'DeptName': 'IT', 'DeptId': 1}